<div *ngIf="crumbs.length" class="d-flex align-items-center mb-4">
  <div [ngClass]="{borda: crumbs.length > 1}">
    <h1 class="title mb-0" [ngClass]="{'pb-0': lastCrumb.subtitle}">{{lastCrumb.text}}</h1>
    <small *ngIf="lastCrumb.subtitle" class="subtitle">{{lastCrumb.subtitle}}</small>
  </div>
    
    <ol *ngIf="crumbs.length > 1" class="breadcrumb p-0 ml-3">
      <li *ngFor="let crumb of crumbs; let last = last" [ngClass]="{ active: last }" class="breadcrumb-item">
        <a *ngIf="!last" [routerLink]="crumb.path">{{crumb.text}}</a>
        <span *ngIf="last">{{crumb.text}}</span>
      </li>
    </ol>
</div>
